<!---
    @title         下载
    @creator       章亦春
    @created       2011-06-21 04:25 GMT
--->

***最新！*** [OpenResty 1.15.8.4](ann-1015008004.html) 正式版已发布。

***最新！*** [OpenResty 1.17.8.1 RC1](ann-1017008001rc1.html) 已经发布供测试。

***最新！*** 新博客文章[OpenResty 和 Nginx 如何分配和管理内存](https://blog.openresty.com.cn/cn/how-or-alloc-mem/) 已发布。

# 二进制版本

## Linux

OpenResty<sup>&reg;</sup> 给常见 Linux 发布提供[官方预编译安装包](linux-packages.html)。
目前我们为 Ubuntu, Debian, RHEL, CentOS, Fedora, OpenSUSE, 和 Amazon Linux 提供官方的二进制包仓库。

## Windows

所有版本都是用 Yichun Zhang 的 PGP 公钥 `A0E98066` 签发的。

[% ver = "1.15.8.4" -%]
* 32 位 Windows: [openresty-[% ver %]-win32.zip](https://openresty.org/download/openresty-[% ver %]-win32.zip) &nbsp; 12MB &nbsp;
[PGP](https://openresty.org/download/openresty-[% ver %]-win32.zip.asc) - 2020年3月20日
* 64 位 Windows: [openresty-[% ver %]-win64.zip](https://openresty.org/download/openresty-[% ver %]-win64.zip) &nbsp; 12MB &nbsp;
[PGP](https://openresty.org/download/openresty-[% ver %]-win64.zip.asc) - 2020年3月20日

参见针对 Windows 版 OpenResty 的[用法文档](https://github.com/openresty/openresty/blob/master/doc/README-windows.md)。

## macOS/Mac OS X

强烈建议 Mac OS X 或者 macOS 系统用户通过 [homebrew](https://brew.sh/) 包管理器安装 OpenResty，像下面这样：

```bash
brew tap openresty/brew
brew install openresty
```

如果你之前是从 `homebrew/nginx` 安装的 OpenResty，请先执行：

```bash
brew untap homebrew/nginx
```

硬核开发者或许希望使用我们的 `openresty-debug` 包：

```bash
brew install openresty-debug
```

# 源码发布

所有版本都是用 Yichun Zhang 的 PGP 公钥 `A0E98066` 签发的。

你可以在下面下载源代码的 tar 包。然后可以参考[安装指导](installation.html)页面里头的步骤编译、安装之。

##  最新版

[% ver = "1.15.8.4" -%]
* [openresty-[% ver %].tar.gz](https://openresty.org/download/openresty-[% ver %].tar.gz) &nbsp; 4.7MB
&nbsp; [PGP](https://openresty.org/download/openresty-[% ver %].tar.gz.asc) &nbsp;
[变更列表](changelog-1015008.html) - 2020年3月25日

##  历史版

有时候我们可能会需要较老的版本：

[% ver = "1.15.8.3" -%]
* [openresty-[% ver %].tar.gz](https://openresty.org/download/openresty-[% ver %].tar.gz) &nbsp; 4.7MB
&nbsp; [PGP](https://openresty.org/download/openresty-[% ver %].tar.gz.asc) &nbsp;
[变更列表](changelog-1015008.html) - 2020年3月20日
[% ver = "1.15.8.2" -%]
* [openresty-[% ver %].tar.gz](https://openresty.org/download/openresty-[% ver %].tar.gz) &nbsp; 4.7MB
&nbsp; [PGP](https://openresty.org/download/openresty-[% ver %].tar.gz.asc) &nbsp;
[变更列表](changelog-1015008.html) - 2019年9月8日
[% ver = "1.15.8.1" -%]
* [openresty-[% ver %].tar.gz](https://openresty.org/download/openresty-[% ver %].tar.gz) &nbsp; 4.7MB
&nbsp; [PGP](https://openresty.org/download/openresty-[% ver %].tar.gz.asc) &nbsp;
[变更列表](changelog-1015008.html) - 2019年5月16日
[% ver = "1.13.6.2" -%]
* [openresty-[% ver %].tar.gz](https://openresty.org/download/openresty-[% ver %].tar.gz) &nbsp; 4.5MB
&nbsp; [PGP](https://openresty.org/download/openresty-[% ver %].tar.gz.asc) &nbsp;
[变更列表](changelog-1013006.html) - 2018年5月14日
[% ver = "1.13.6.1" -%]
* [openresty-[% ver %].tar.gz](https://openresty.org/download/openresty-[% ver %].tar.gz) &nbsp; 4.4MB
&nbsp; [PGP](https://openresty.org/download/openresty-[% ver %].tar.gz.asc) &nbsp;
[变更列表](changelog-1013006.html) - 2017年11月13日
[% ver = "1.11.2.5" -%]
* [openresty-[% ver %].tar.gz](https://openresty.org/download/openresty-[% ver %].tar.gz) &nbsp; 4.0MB
&nbsp; [PGP](https://openresty.org/download/openresty-[% ver %].tar.gz.asc) &nbsp;
[变更列表](changelog-1011002.html) - 2017年8月17日
[% ver = "1.11.2.4" -%]
* [openresty-[% ver %].tar.gz](https://openresty.org/download/openresty-[% ver %].tar.gz) &nbsp; 4.0MB
&nbsp; [PGP](https://openresty.org/download/openresty-[% ver %].tar.gz.asc) &nbsp;
[变更列表](changelog-1011002.html) - 2017年7月11日
[% ver = "1.11.2.3" -%]
* [openresty-[% ver %].tar.gz](https://openresty.org/download/openresty-[% ver %].tar.gz) &nbsp; 4.0MB
&nbsp; [PGP](https://openresty.org/download/openresty-[% ver %].tar.gz.asc) &nbsp;
[变更列表](changelog-1011002.html) - 2017年4月21日
[% ver = "1.11.2.2" %]
* [openresty-[% ver %].tar.gz](https://openresty.org/download/openresty-[% ver %].tar.gz) &nbsp; 4.1MB
&nbsp; [PGP](https://openresty.org/download/openresty-[% ver %].tar.gz.asc) &nbsp;
[变更列表](changelog-1011002.html) - 2016年11月17日
* [openresty-[% ver %].tar.gz](https://openresty.org/download/openresty-[% ver %].tar.gz) &nbsp; 3.8MB
&nbsp; [PGP](https://openresty.org/download/openresty-[% ver %].tar.gz.asc) &nbsp;
[变更列表](changelog-1011002.html) - 2016年8月24日
[% ver = "1.9.15.1" -%]
* [openresty-[% ver %].tar.gz](https://openresty.org/download/openresty-[% ver %].tar.gz) &nbsp; 3.6MB
&nbsp; [PGP](https://openresty.org/download/openresty-[% ver %].tar.gz.asc) &nbsp;
([Win32](https://openresty.org/download/openresty-[% ver %]-win32.zip) &nbsp;
[PGP](https://openresty.org/download/openresty-[% ver %]-win32.zip.asc)) &nbsp;
[变更列表](changelog-1009015.html) - 2016年6月3日
* [openresty-1.9.7.5.tar.gz](https://openresty.org/download/openresty-1.9.7.5.tar.gz) &nbsp; 3.5MB
&nbsp; [PGP](https://openresty.org/download/openresty-1.9.7.5.tar.gz.asc) &nbsp;
([Win32](https://openresty.org/download/openresty-1.9.7.5-win32.zip) &nbsp;
[PGP](https://openresty.org/download/openresty-1.9.7.5-win32.zip.asc)) &nbsp;
[变更列表](changelog-1009007.html) - 2016年5月31日
* [openresty-1.9.7.4.tar.gz](https://openresty.org/download/openresty-1.9.7.4.tar.gz) &nbsp; 3.5MB
&nbsp; [PGP](https://openresty.org/download/openresty-1.9.7.4.tar.gz.asc) &nbsp;
([Win32](https://openresty.org/download/openresty-1.9.7.4-win32.zip) &nbsp;
[PGP](https://openresty.org/download/openresty-1.9.7.4-win32.zip.asc)) &nbsp;
[变更列表](changelog-1009007.html) - 2016年5月16日
* [openresty-1.9.7.3.tar.gz](https://openresty.org/download/openresty-1.9.7.3.tar.gz) &nbsp; 3.4MB
&nbsp; [PGP](https://openresty.org/download/openresty-1.9.7.3.tar.gz.asc) &nbsp;
([Win32](https://openresty.org/download/openresty-1.9.7.3-win32.zip) &nbsp;
[PGP](https://openresty.org/download/openresty-1.9.7.3-win32.zip.asc)) &nbsp;
[变更列表](changelog-1009007.html) - 2016年1月28日
* [ngx_openresty-1.9.7.2.tar.gz](https://openresty.org/download/ngx_openresty-1.9.7.2.tar.gz) &nbsp; 3.4MB
&nbsp; [PGP](https://openresty.org/download/ngx_openresty-1.9.7.2.tar.gz.asc) &nbsp;
([Win32](https://openresty.org/download/ngx_openresty-1.9.7.2-win32.zip) &nbsp;
[PGP](https://openresty.org/download/ngx_openresty-1.9.7.2-win32.zip.asc)) &nbsp;
[变更列表](changelog-1009007.html) - 2016年1月21日
* [ngx_openresty-1.9.7.1.tar.gz](https://openresty.org/download/ngx_openresty-1.9.7.1.tar.gz) &nbsp; 3.4MB
&nbsp; [PGP](https://openresty.org/download/ngx_openresty-1.9.7.1.tar.gz.asc) &nbsp;
([Win32](https://openresty.org/download/ngx_openresty-1.9.7.1-win32.zip) &nbsp;
[PGP](https://openresty.org/download/ngx_openresty-1.9.7.1-win32.zip.asc)) &nbsp;
[变更列表](changelog-1009007.html) - 2015年12月25日
* [ngx_openresty-1.9.3.2.tar.gz](https://openresty.org/download/ngx_openresty-1.9.3.2.tar.gz) &nbsp; 3.4MB
&nbsp; [PGP](https://openresty.org/download/ngx_openresty-1.9.3.2.tar.gz.asc) &nbsp;
([Win32](https://openresty.org/download/ngx_openresty-1.9.3.2-win32.zip) &nbsp;
[PGP](https://openresty.org/download/ngx_openresty-1.9.3.2-win32.zip.asc)) &nbsp;
[变更列表](changelog-1009003.html) - 2015年11月23日
* [ngx_openresty-1.9.3.1.tar.gz](https://openresty.org/download/ngx_openresty-1.9.3.1.tar.gz) &nbsp; 3.4MB
&nbsp; [PGP](https://openresty.org/download/ngx_openresty-1.9.3.1.tar.gz.asc) &nbsp;
[变更列表](changelog-1009003.html) - 2015年8月12日
* [ngx_openresty-1.7.10.2.tar.gz](https://openresty.org/download/ngx_openresty-1.7.10.2.tar.gz) &nbsp; 3.3MB
&nbsp; [PGP](https://openresty.org/download/ngx_openresty-1.7.10.2.tar.gz.asc) &nbsp;
[变更列表](changelog-1007010.html) - 2015年7月3日
* [ngx_openresty-1.7.10.1.tar.gz](https://openresty.org/download/ngx_openresty-1.7.10.1.tar.gz) &nbsp; 3.2MB
&nbsp; [PGP](https://openresty.org/download/ngx_openresty-1.7.10.1.tar.gz.asc) &nbsp;
[变更列表](changelog-1007010.html) - 2015年2月28日
* [ngx_openresty-1.7.7.2.tar.gz](https://openresty.org/download/ngx_openresty-1.7.7.2.tar.gz) &nbsp; 3.2MB
&nbsp; [PGP](https://openresty.org/download/ngx_openresty-1.7.7.2.tar.gz.asc) &nbsp;
[变更列表](changelog-1007007.html) - 2015年2月4日
* [ngx_openresty-1.7.7.1.tar.gz](https://openresty.org/download/ngx_openresty-1.7.7.1.tar.gz) &nbsp; 3.2MB
&nbsp; [PGP](https://openresty.org/download/ngx_openresty-1.7.7.1.tar.gz.asc) &nbsp;
[变更列表](changelog-1007007.html) - 2014年12月6日
* [ngx_openresty-1.7.4.1.tar.gz](https://openresty.org/download/ngx_openresty-1.7.4.1.tar.gz) &nbsp; 3.2MB
&nbsp; [PGP](https://openresty.org/download/ngx_openresty-1.7.4.1.tar.gz.asc) &nbsp;
[变更列表](changelog-1007004.html) - 2014年10月9日
* [ngx_openresty-1.7.2.1.tar.gz](https://openresty.org/download/ngx_openresty-1.7.2.1.tar.gz) &nbsp; 3.2MB
&nbsp; [PGP](https://openresty.org/download/ngx_openresty-1.7.2.1.tar.gz.asc) &nbsp;
[变更列表](changelog-1007002.html) - 2014年7月12日
* [ngx_openresty-1.7.0.1.tar.gz](https://openresty.org/download/ngx_openresty-1.7.0.1.tar.gz) &nbsp; 3.1MB
&nbsp; [PGP](https://openresty.org/download/ngx_openresty-1.7.0.1.tar.gz.asc) &nbsp;
[变更列表](changelog-1007000.html) - 2014年6月7日
* [ngx_openresty-1.5.12.1.tar.gz](https://openresty.org/download/ngx_openresty-1.5.12.1.tar.gz) &nbsp; 3.1MB
&nbsp; [PGP](https://openresty.org/download/ngx_openresty-1.5.12.1.tar.gz.asc) &nbsp;
[变更列表](changelog-1005012.html) - 2014年4月29日
* [ngx_openresty-1.5.11.1.tar.gz](https://openresty.org/download/ngx_openresty-1.5.11.1.tar.gz) &nbsp; 3.1MB
&nbsp; [PGP](https://openresty.org/download/ngx_openresty-1.5.11.1.tar.gz.asc) &nbsp;
[变更列表](changelog-1005011.html) - 2014年3月30日
* [ngx_openresty-1.5.8.1.tar.gz](https://openresty.org/download/ngx_openresty-1.5.8.1.tar.gz) &nbsp; 3.1MB
&nbsp; [PGP](https://openresty.org/download/ngx_openresty-1.5.8.1.tar.gz.asc) &nbsp;
[变更列表](changelog-1005008.html) - 2014年1月10日
* [ngx_openresty-1.4.3.6.tar.gz](https://openresty.org/download/ngx_openresty-1.4.3.6.tar.gz) &nbsp; 3.1MB
&nbsp; [PGP](https://openresty.org/download/ngx_openresty-1.4.3.6.tar.gz.asc) &nbsp;
[变更列表](changelog-1004003.html) - 2013年11月20日
* [ngx_openresty-1.4.3.4.tar.gz](https://openresty.org/download/ngx_openresty-1.4.3.4.tar.gz) &nbsp; 3.1MB
&nbsp; [PGP](https://openresty.org/download/ngx_openresty-1.4.3.4.tar.gz.asc) &nbsp;
[变更列表](changelog-1004003.html) - 2013年11月12日
* [ngx_openresty-1.4.2.8.tar.gz](https://openresty.org/download/ngx_openresty-1.4.2.8.tar.gz) &nbsp; 3.0MB
&nbsp; [PGP](https://openresty.org/download/ngx_openresty-1.4.2.8.tar.gz.asc) &nbsp;
[变更列表](changelog-1004002.html) - 2013年9月22日
* [ngx_openresty-1.2.8.6.tar.gz](https://openresty.org/download/ngx_openresty-1.2.8.6.tar.gz) &nbsp; 2.9MB
&nbsp; [PGP](https://openresty.org/download/ngx_openresty-1.2.8.6.tar.gz.asc) &nbsp;
[变更列表](changelog-1002008.html) - 2013年6月10日
* [ngx_openresty-1.2.7.8.tar.gz](https://openresty.org/download/ngx_openresty-1.2.7.8.tar.gz) &nbsp; 2.9MB
&nbsp; [PGP](https://openresty.org/download/ngx_openresty-1.2.7.8.tar.gz.asc) &nbsp;
[变更列表](changelog-1002007.html) - 2013年5月13日
* [ngx_openresty-1.2.7.6.tar.gz](https://openresty.org/download/ngx_openresty-1.2.7.6.tar.gz) &nbsp; 2.9MB
&nbsp; [PGP](https://openresty.org/download/ngx_openresty-1.2.7.6.tar.gz.asc) &nbsp;
[变更列表](changelog-1002007.html) - 2013年4月17日
* [ngx_openresty-1.2.6.6.tar.gz](https://openresty.org/download/ngx_openresty-1.2.6.6.tar.gz) &nbsp; 2.9MB
&nbsp; [PGP](https://openresty.org/download/ngx_openresty-1.2.6.6.tar.gz.asc) &nbsp;
[变更列表](changelog-1002006.html) - 2013年2月17日
* [ngx_openresty-1.2.4.14.tar.gz](https://openresty.org/download/ngx_openresty-1.2.4.14.tar.gz) &nbsp; 2.9MB
&nbsp; [PGP](https://openresty.org/download/ngx_openresty-1.2.4.14.tar.gz.asc) &nbsp;
[变更列表](changelog-1002004.html) - 2012年12月23日
* [ngx_openresty-1.2.3.8.tar.gz](https://openresty.org/download/ngx_openresty-1.2.3.8.tar.gz) &nbsp; 2.9MB
&nbsp; [PGP](https://openresty.org/download/ngx_openresty-1.2.3.8.tar.gz.asc) &nbsp;
[变更列表](changelog-1002003.html) - 2012年10月8日
* [ngx_openresty-1.2.1.14.tar.gz](https://openresty.org/download/ngx_openresty-1.2.1.14.tar.gz) &nbsp; 2.9MB
&nbsp; [PGP](https://openresty.org/download/ngx_openresty-1.2.1.14.tar.gz.asc) &nbsp;
[变更列表](changelog-1002001.html) - 2012年8月14日
* [ngx_openresty-1.0.15.10.tar.gz](https://openresty.org/download/ngx_openresty-1.0.15.10.tar.gz) &nbsp; 2.7MB
&nbsp; [PGP](https://openresty.org/download/ngx_openresty-1.0.15.10.tar.gz.asc) &nbsp;
[变更列表](changelog-1000015.html) - 2012年6月13日
* [ngx_openresty-1.0.11.28.tar.gz](https://openresty.org/download/ngx_openresty-1.0.11.28.tar.gz) &nbsp; 2.7MB
&nbsp; [PGP](https://openresty.org/download/ngx_openresty-1.0.11.28.tar.gz.asc) &nbsp;
[变更列表](changelog-1000011.html) - 2012年3月25日
* [ngx_openresty-1.0.10.48.tar.gz](https://openresty.org/download/ngx_openresty-1.0.10.48.tar.gz) &nbsp; 2.6MB
&nbsp; [PGP](https://openresty.org/download/ngx_openresty-1.0.10.48.tar.gz.asc) &nbsp;
[变更列表](changelog-1000010.html) - 2012年2月1日
* [ngx_openresty-1.0.10.44.tar.gz](https://openresty.org/download/ngx_openresty-1.0.10.44.tar.gz) &nbsp; 2.5MB
&nbsp; [PGP](https://openresty.org/download/ngx_openresty-1.0.10.44.tar.gz.asc) &nbsp;
[变更列表](changelog-1000010.html) - 2012年1月16日
* [ngx_openresty-1.0.10.24.tar.gz](https://openresty.org/download/ngx_openresty-1.0.10.24.tar.gz) &nbsp; 2.5MB
&nbsp; [PGP](https://openresty.org/download/ngx_openresty-1.0.10.24.tar.gz.asc) &nbsp;
[变更列表](changelog-1000010.html) - 2011年12月11日
* [ngx_openresty-1.0.9.10.tar.gz](https://openresty.org/download/ngx_openresty-1.0.9.10.tar.gz) &nbsp; 2.5MB
&nbsp; [PGP](https://openresty.org/download/ngx_openresty-1.0.9.10.tar.gz.asc) &nbsp;
[变更列表](changelog-1000009.html) - 2011年11月16日
* [ngx_openresty-1.0.8.26.tar.gz](https://openresty.org/download/ngx_openresty-1.0.8.26.tar.gz) &nbsp; 2.5MB
&nbsp; [PGP](https://openresty.org/download/ngx_openresty-1.0.8.26.tar.gz.asc) &nbsp;
[变更列表](changelog-1000008.html) - 2011年11月3日
* [ngx_openresty-1.0.6.22.tar.gz](https://openresty.org/download/ngx_openresty-1.0.6.22.tar.gz) &nbsp; 2.4MB
&nbsp; [PGP](https://openresty.org/download/ngx_openresty-1.0.6.22.tar.gz.asc) &nbsp;
[变更列表](changelog-1000006.html) - 2011年10月7日

安装帮助请参考[安装指导](installation.html)。
