/*=====================================================================================
  Less Libs
=======================================================================================*/
/* Extra small devices (phones, less than 768px)
// No media query since this is the default in Bootstrap
// Small devices (tablets, 768px and up)
@media (min-width: @screen-sm-min) { ... }
// Medium devices (desktops, 992px and up)
@media (min-width: @screen-md-min) { ... }
// Large devices (large desktops, 1200px and up)
@media (min-width: @screen-lg-min) { ... }

@media (max-width: @screen-xs-max) { ... }
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { ... }
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { ... }
@media (min-width: @screen-lg-min) { ... }
*/
.left {
  float: left;
  display: inline;
}
.right {
  float: right;
  display: inline;
}
/*=====================================================================================
  Reset
=======================================================================================*/
a,
abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
date,
tr,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}
a,
ins,
del {
  text-decoration: none;
}
blockquote,
q {
  quotes: none;
}
ul {
  list-style: none;
}
ol {
  padding-left: 20px;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
caption,
th {
  text-align: left;
}
blockquote:before,
blockquote:after,
q:after,
q:before {
  content: '';
}
/*=====================================================================================
  Basic Styles
=======================================================================================*/
html {
  height: 100%;
}
body {
  background: #f9fcf9;
  color: #3e423e;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}
hr {
  display: none;
}
b,
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
del {
  text-decoration: line-through;
}
address,
cite,
dfn {
  font-style: normal;
}
abbr,
acronym {
  border-bottom: 1px dotted #999;
  cursor: help;
}
img {
  vertical-align: middle;
}
a,
a:visited {
  color: #4d8d89;
  text-decoration: underline;
}
a:active {
  color: #4d8d89;
  outline: 0;
  text-decoration: underline;
}
a:hover {
  color: #325c59;
}
input {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
code {
  background: #f5f4f4;
  padding: 0.3em;
}
/*=====================================================================================
  Layout
=======================================================================================*/
header[role="header"] {
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  min-height: 88px;
  padding: 0 30px;
  width: 100%;
  clear: both;
}
header[role="header"]:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0;
}
header[role="header"] .site-name img {
  margin-top: -8px;
  margin-left: -20px;
  margin-right: 12px;
}
header[role="banner"] {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 36px;
  padding-right: 36px;
  background-color: #fff;
}
header[role="banner"] .ann {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header[role="banner"] .edge-title-text {
  color: #333;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.03em;
}
header[role="banner"] .edge-phrase {
  margin-left: 32px;
}
@media (max-width: 992px) {
  header[role="banner"] .edge-phrase {
    display: none;
  }
}
header[role="banner"] .edge-demo {
  background: #1A48A5;
  box-shadow: 0px 6px 2px -4px rgba(14, 14, 44, 0.1), inset 0px -1px 0px rgba(14, 14, 44, 0.4);
  color: #fff;
}
#wrapper {
  display: flex;
  align-items: stretch;
}
#wrapper .sidebar {
  background: #edf4ed;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
@media (min-width: 992px) {
  #wrapper .sidebar {
    flex: none;
  }
}
#wrapper .sidebar.sleft {
  width: 220px;
  padding-left: 30px;
  padding-right: 15px;
  box-shadow: inset -1px 0 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset -1px 0 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset -1px 0 2px rgba(0, 0, 0, 0.2);
}
#wrapper .sidebar.sright {
  width: 330px;
  box-shadow: inset 1px 0 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 1px 0 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 1px 0 2px rgba(0, 0, 0, 0.2);
}
#wrapper #main {
  padding: 30px 0;
  flex: auto;
}
@media (max-width: 479px) {
  #wrapper {
    /* very small screen */
    flex-direction: column;
  }
  #wrapper #main {
    order: 1;
  }
  #wrapper .sidebar {
    order: 2;
  }
  #wrapper .sidebar.sleft,
  #wrapper .sidebar.sright {
    width: auto;
  }
}
@media (min-width: 480px) and (max-width: 991px) {
  #wrapper {
    /* tablets */
    flex-wrap: wrap;
  }
  #wrapper #main {
    order: 1;
  }
  #wrapper .sidebar {
    order: 2;
    flex: auto;
    margin-left: 15px;
    margin-right: 15px;
  }
}
/*=====================================================================================
  HEADER
=======================================================================================*/
header[role="header"] {
  background: #599059;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#599059), to(#4f804f));
  background: -webkit-linear-gradient(#599059, #4f804f);
  background: -moz-linear-gradient(#599059, #4f804f);
  background: -ms-linear-gradient(#599059, #4f804f);
  background: -o-linear-gradient(#599059, #4f804f);
  background: linear-gradient(#599059, #4f804f);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), inset 0 -1px 0 rgba(0,0,0,0.2), 0 2px 4px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), inset 0 -1px 0 rgba(0,0,0,0.2), 0 2px 4px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), inset 0 -1px 0 rgba(0,0,0,0.2), 0 2px 4px rgba(0,0,0,0.1);
  z-index: 5;
}
header[role="header"] .site-name {
  /* text-transform: uppercase; */
  margin-top: 20px;
}
header[role="header"] .site-name a {
  font-size: 34px;
  font-weight: bold;
  color: #f9fcf9;
  text-decoration: none;
}
header[role="header"] .site-name a span {
  color: #effc67;
  font-weight: 300;
}
header[role="header"] .site-name small {
  display: block;
  font-size: 13px;
  color: #f9fcf9;
}
header[role="header"] .site-name img {
  margin-top: -6px;
  margin-left: -20px;
  margin-right: 10px;
}
header[role="header"] .link {
  margin-top: 30px;
}
header[role="header"] .link a {
  margin-right: 10px;
  display: inline-block;
  color: #fff;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
}
header[role="header"] .link img {
  width: 20px;
}
header[role="header"] .link .link-title {
  display: inline;
  line-height: 20px;
  vertical-align: middle;
  margin-left: 5px;
}
@media (max-width: 768px) {
  header[role="header"] .link {
    display: flex;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 10px;
  }
  header[role="header"] .link a {
    width: 33%;
    margin-right: unset;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header[role="header"] .link .link-title {
    margin-top: 5px;
  }
  header[role="header"] .site-name small {
    font-size: 10px;
  }
}
header[role="header"] .dark-img {
  filter: brightness(2);
}
header[role="header"] .enterprise-button {
  border-radius: 8px;
  padding: 6px 16px;
  background: #FDFDFD;
  box-shadow: inset 0px -1px 0.5px rgba(14, 14, 44, 0.4);
  border: none;
}
header[role="header"] .enterprise-button .link-title {
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'Open Sans';
  letter-spacing: 0.04em;
  font-weight: 600;
  color: #3E3E3F;
}
/*=====================================================================================
  FOOTER
=======================================================================================*/
.content-footer {
  clear: both;
}
.content-footer:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0;
}
/*=====================================================================================
  INTRO
=======================================================================================*/
#intro {
  background: #446d44 url(../images/bg-grid.png) top left;
  min-height: 150px;
  color: #f9fcf9;
}
#intro .text {
  width: 80%;
  margin: 0 auto;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding-top: 35px;
  padding-bottom: 35px;
}
@media (min-width: 768px) {
  #intro .text {
    padding-right: 300px;
    background: url(../images/media-server.png) bottom right no-repeat;
  }
}
#intro .text p {
  line-height: 28px;
  font-size: 20px;
  margin-bottom: 32px;
}
#intro .text p:last-child {
  margin-bottom: 0;
}
#intro .text p small {
  font-size: 16px;
}
#intro form {
  margin-top: 40px;
  margin-bottom: 35px;
}
#intro form input[type=search] {
  width: 300px;
  height: 36px;
  border: 1px solid #3c613c;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -o-border-radius: 18px;
  -khtml-border-radius: 18px;
  -ms-border-radius: 18px;
  border-radius: 18px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-size: 12px;
  padding: 0 10px 0 40px;
  background: rgba(255, 255, 255, 0.9) url(../images/ico-search.png) 15px 50% no-repeat;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
@media (max-width: 479px) {
  #intro form input[type=search] {
    /* very small screen */
    max-width: 80%;
  }
}
#intro form input[type=search]:focus,
#intro form input[type=search]:active {
  background-color: #fff;
  outline: none;
}
.banner .edge-icon {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background: #1A48A5;
  box-shadow: 0px 6px 2px -4px rgba(14, 14, 44, 0.1), inset 0px -1px 0px rgba(14, 14, 44, 0.4);
  border-radius: 4px;
}
.banner .edge-title-text {
  text-transform: uppercase;
  color: #FDFDFD;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  margin-left: 8px;
}
.banner .edge-demo {
  font-family: 'Open Sans';
  padding: 10px 16px;
  background: #FFFFFF;
  box-shadow: inset 0px -1px 0.5px rgba(14, 14, 44, 0.4);
  border-radius: 8px;
  color: #1A48A5;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-align: center;
  border: none;
  width: max-content;
  text-decoration: none;
}
.banner .edge-viewmore {
  margin-left: 12px;
  font-family: 'Open Sans';
  color: #fff;
}
/*=====================================================================================
  MAIN
=======================================================================================*/
#main .item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
  padding: 0 40px 40px 40px;
}
@media (max-width: 479px) {
  #main .item {
    /* very small screen */
    padding: 0 15px 15px 15px;
  }
}
@media (min-width: 480px) and (max-width: 991px) {
  #main .item {
    /* tablets */
    padding: 0 25px 25px 25px;
  }
}
#main .item header {
  margin-bottom: 20px;
  position: relative;
}
#main .item header h2 {
  font-size: 36px;
  font-weight: 300;
  color: #000;
}
#main .item header small {
  font-size: 13px;
  color: #8a948a;
}
#main .item header small a {
  font-weight: bold;
  text-decoration: none;
}
#main .item header .options {
  position: absolute;
  right: 0;
  top: 0;
}
#main .item header .options ul {
  display: none;
}
#main .item header .options .trigger {
  background: url(../images/ico-more.png) center center no-repeat;
  width: 44px;
  height: 44px;
  text-indent: -9999em;
  display: inline-block;
  -webkit-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
}
#main .item header .options:hover .trigger {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
#main .item header .options:hover ul.second-level {
  display: none;
}
#main .item header .options:hover ul.first-level {
  display: block;
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -khtml-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  position: absolute;
  right: -20px;
  top: 40px;
  /*border: 1px solid rgba(0,0,0,0.1);*/
  padding: 10px 20px;
  min-width: 110px;
  line-height: 30px;
  font-size: 14px;
  font-weight: bold;
}
#main .item header .options:hover ul.first-level:before {
  content: "";
  border: 8px solid transparent;
  width: 0px;
  height: 0px;
  border-bottom-color: #fff;
  position: absolute;
  top: -16px;
  right: 34px;
}
#main .item header .options:hover ul.first-level li {
  position: relative;
}
#main .item header .options:hover ul.first-level li a {
  text-decoration: none;
}
#main .item header .options:hover ul.first-level li:hover ul.second-level {
  display: block;
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -khtml-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: -160px;
  top: -10px;
  /*border: 1px solid rgba(0,0,0,0.1);*/
  padding: 10px 20px;
  min-width: 110px;
  line-height: 30px;
  font-size: 14px;
  font-weight: bold;
}
#main .item header .options:hover ul.first-level li:hover ul.second-level:before {
  content: "";
  border: 8px solid transparent;
  width: 0px;
  height: 0px;
  border-left-color: #fff;
  position: absolute;
  top: 16px;
  right: -16px;
}
#main .item .body {
  line-height: 26px;
  margin: 1em;
}
@media (max-width: 479px) {
  #main .item .body {
    /* very small screen */
    margin: 0;
  }
}
@media (min-width: 480px) and (max-width: 991px) {
  #main .item .body {
    /* tablets */
    margin: 0.5em;
  }
}
#main .item .body pre {
  max-width: 100%;
  overflow-x: auto;
  position: relative;
}
#main .item .body p {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
}
#main .item .body ul {
  text-align: left;
  width: 95%;
  margin-left: 2em;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  list-style: circle;
}
#main .item .body h1,
#main .item .body h2,
#main .item .body h3,
#main .item .body h4,
#main .item .body h5,
#main .item .body h6 {
  line-height: 1.25;
  padding-top: 0.75em;
  padding-bottom: 0.1em;
}
#main .item .body h1:hover .header-anchor .icon,
#main .item .body h2:hover .header-anchor .icon,
#main .item .body h3:hover .header-anchor .icon,
#main .item .body h4:hover .header-anchor .icon,
#main .item .body h5:hover .header-anchor .icon,
#main .item .body h6:hover .header-anchor .icon {
  visibility: visible;
}
#main .item .body h1 {
  font-size: 150%;
  padding-top: 1em;
}
#main .item .body h2 {
  font-size: 120%;
  padding-top: 1em;
}
#main .item .body .icon {
  vertical-align: middle;
  visibility: hidden;
  width: 16px;
  height: 16px;
}
#main .item .body .header-anchor {
  float: left;
  margin-left: -20px;
  padding-right: 4px;
}
#main .banner {
  background: linear-gradient(89.96deg, rgba(26, 72, 165, 0) 0.04%, #437BED 0.05%, #1A48A5 99.95%);
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 25px 0 25px 32px;
  display: flex;
  margin: 0 40px 20px 40px;
  height: 189px;
  overflow: hidden;
  position: relative;
}
@media (max-width: 992px) {
  #main .banner {
    padding-left: 20px;
    padding-right: 10px;
  }
}
#main .banner .banner-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100% - 303px);
}
@media (max-width: 1200px) {
  #main .banner .banner-left {
    width: 100%;
  }
}
#main .banner .banner-right {
  max-width: 300px;
  position: absolute;
  right: -7px;
}
@media (max-width: 1200px) {
  #main .banner .banner-right {
    display: none;
  }
}
#main .banner .screenshot-bar {
  height: 1.15rem;
  border-radius: 8px 8px 0 0;
  margin-bottom: -1px;
  display: flex;
  align-items: center;
  padding-left: 11px;
  background: #1A48A5;
}
#main .banner .screenshot-bar .dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #8fb5e7;
}
#main .banner .screenshot-bar .dot ~ .dot {
  margin-left: 6px;
}
#main .banner .screenshot-img img {
  width: 100%;
}
#main .banner .edge-title {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
#main .banner .slogan {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #FDFDFD;
  margin-bottom: 12px;
}
@media (max-width: 1300px) {
  #main .banner .slogan {
    font-size: 17px;
    line-height: 22px;
  }
}
@media (max-width: 992px) {
  #main .banner .slogan {
    font-size: 16px;
    line-height: 24px;
  }
}
#main .news {
  padding: 0 40px 20px 40px;
}
@media (max-width: 479px) {
  #main .news {
    /* very small screen */
    padding: 0 15px 15px 15px;
  }
}
@media (min-width: 480px) and (max-width: 991px) {
  #main .news {
    /* tablets */
    padding: 0 25px 25px 25px;
  }
}
#main .news .news-item {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
#main .news .news-item .news-hint {
  font-style: italic;
}
#main .news .news-item .news-img-container {
  height: 18px;
  width: 23px;
  margin-right: 10px;
  background: linear-gradient(#599059, #4f804f);
  display: flex;
  justify-content: center;
}
#main .news .news-item .news-img-container img {
  object-fit: contain;
  height: 16px;
  margin-top: -7px;
}
#main .news .news-item .news-img {
  height: 18px;
  width: 23px;
  margin-right: 10px;
}
/*=====================================================================================
  SIDEBARS
=======================================================================================*/
.sidebar {
  min-height: 100%;
}
.sidebar.sleft {
  text-shadow: 0 1px 1px #fff;
  padding-top: 20px;
}
.sidebar.sleft ul {
  line-height: 40px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}
.sidebar.sleft ul li a {
  text-decoration: none;
}
.sidebar.sleft ul.buttons {
  margin-left: -15px;
}
.sidebar.sleft ul.buttons li {
  margin-bottom: 10px;
}
.sidebar.sleft ul.buttons li a {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -khtml-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding-left: 46px;
  color: #fff;
  display: block;
  line-height: 18px;
  padding: 10px 10px 10px 46px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.sidebar.sleft ul.buttons li a.rss {
  background: #fd9f13 url(../images/ico-rss.png) 12px 50% no-repeat;
}
.sidebar.sleft ul.buttons li .paypal {
  background: #006492 url(../images/ico-paypal.png) 12px 50% no-repeat;
}
.sidebar.sright {
  overflow: hidden;
  text-shadow: 0 1px 1px #fff;
}
.sidebar.sright .options {
  background: #f9fcf9;
  width: 100%;
  height: 88px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.sidebar.sright .options .first:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0;
}
.sidebar.sright .options .first li {
  float: left;
  width: 33%;
}
.sidebar.sright .options .first li:nth-child(2n) {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-width: 0 1px;
}
.sidebar.sright .options .first li a {
  display: inline-block;
  width: 100%;
  height: 88px;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-align: center;
  padding-top: 52px;
  font-size: 12px;
  text-decoration: none;
  color: #8a948a;
}
.sidebar.sright .options .first li a.close-all {
  background: url(../images/ico-close-all.png) 50% 24px no-repeat;
}
.sidebar.sright .options .first li a.permaview {
  background: url(../images/ico-permaview.png) 50% 24px no-repeat;
}
.sidebar.sright .options .first li a.more-options {
  background: url(../images/ico-more-options.png) 50% 24px no-repeat;
}
.sidebar.sright .options .first li a:hover {
  color: #3e423e;
}
.sidebar.sright .tabs .navigation {
  background: rgba(89, 144, 89, 0.1);
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
}
.sidebar.sright .tabs .navigation:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0;
}
.sidebar.sright .tabs .navigation li {
  float: left;
}
.sidebar.sright .tabs .navigation li a {
  float: left;
  padding: 0 20px;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  line-height: 50px;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 50px;
}
.sidebar.sright .tabs .navigation li a.current {
  border-bottom: 4px solid #4d8d89;
  color: #3e423e;
}
.sidebar.sright .tabs .navigation li span {
  color: #3e423e;
  float: left;
  padding: 0 20px;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  line-height: 50px;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 50px;
}
.sidebar.sright .tabs .panes .pane {
  padding: 0 20px;
}
.sidebar.sright .tabs .panes .pane > ul {
  font-size: 12px;
  margin-bottom: 20px;
}
.sidebar.sright .tabs .panes .pane > ul > li {
  color: #8a948a;
  font-weight: bold;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 5px;
  padding: 3px 0;
}
.sidebar.sright .tabs .panes .pane > ul > li ul {
  padding-left: 10px;
  font-size: 14px;
}
.sidebar.sright .tabs .panes .pane > ul > li ul li {
  line-height: 24px;
  text-transform: none;
}
.sidebar.sright .tabs .panes .pane > ul > li ul li a {
  text-decoration: none;
  font-weight: bold;
}
.search-result div.r {
  margin-bottom: 1em;
  margin-right: 2em;
}
div.footer {
  font-size: 90%;
  color: #888;
  text-align: center;
}
div.content-footer {
  margin-top: 1em;
  margin-bottom: 2em;
}
hr.footer-sep {
  margin-bottom: 20px;
  margin-top: 10px;
}
.trade {
  font-size: 65%;
  vertical-align: top;
}
.blog-iframe {
  width: 100%;
  height: 100%;
}
