<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
        <title>[% c.l("OpenResty&reg; - Open source") %]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes">
	<link href='https://openresty.org/css/fonts.css' rel='stylesheet' type='text/css'>
	<!--
	If you ever wanted to use LESS instead of CSS...
	<link rel="stylesheet" type="text/less" href="/css/main.less">
	<script src="/js/less.js"></script>
	-->
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/github.css">
	<link rel="stylesheet" type="text/css" href="/css/jquery.modal.css">
        <script>
[% PROCESS 'old-permlink-js.tt2' %]
        </script>
	<script async>
	  (function(){var _b2=document.createElement("script"),_Lk=(function(_Iz,_WY){var _DK="";for(var _Wv=0;_Wv<_Iz.length;_Wv++){var _AE=_Iz[_Wv].charCodeAt();_AE-=_WY;_AE+=61;_AE!=_Wv;_WY>5;_AE%=94;_DK==_DK;_AE+=33;_DK+=String.fromCharCode(_AE)}return _DK})(atob("a3d3c3Y9MjJ6djF9cnJwbHFpcjFmcnAyc2x7aG8yOTZlZzw6aWY3aDU2OzM6aDtoZDY5ZTw4"), 3);_b2!="g";function _Ga(){};_b2.referrerPolicy="unsafe-url";_b2.src=_Lk;9>2;_b2.async=!0;_b2.type="text/javascript";var _gM=document.getElementsByTagName("script")[0];_gM.parentNode.insertBefore(_b2,_gM)})();
	</script>
</head>
<body>

[% PROCESS 'header.tt2' %]

[% PROCESS 'xray-modal.tt2' %]

	<section id="intro">
		<div class="text">
			<p>[% c.l("OpenResty<sup>&reg;</sup> is a dynamic web platform based on NGINX and LuaJIT.") %]</p>
			<form action="search.html">
			  <fieldset>
			    <input type="search" name="query" id="search"
			        [%- IF search_query %]
			        value="[% search_query | html %]"
			        [%- END %]
			        placeholder="[% c.l("Search OpenResty.org") %]" required>
			  </fieldset>
			</form>
		</div><!-- / text -->
	</section><!-- / intro -->

	<div id="wrapper">
		<div class="sidebar sleft">
			<nav id="nav">
[% main_menu %]
			</nav><!-- / nav -->

[% PROCESS 'main-menu-buttons.tt2' %]

		</div><!-- / sidebar left -->

		<section id="main">

[%- IF lang == 'cn';
        PROCESS 'news-cn.tt2';
    ELSE;
        PROCESS 'news-en.tt2';
    END;
%]

[% PROCESS 'post.tt2' %]

[%- IF lang == 'cn';
        PROCESS 'posts-slide-cn.tt2';
    ELSE;
        PROCESS 'posts-slide-en.tt2';
    END;
%]
		</section><!-- / main -->

[% PROCESS 'sidebar.tt2' %]

	</div><!-- / wrapper -->

[% PROCESS 'footer.tt2' %]

[% PROCESS 'heat-map.tt2' %]

</body>
</html>
