
<div class="news">
  <div class="news-item"><a href="ann-1025003001.html">
      <picture>
        <source srcset="../images/logo.webp" type="image/webp"/><img class="news-img" src="../images/logo.png"/>
      </picture></a>
    <div class="news-description"><strong class="news-hint">[% c.l("New!") %]&nbsp;</strong><a href="ann-1025003001.html">OpenResty 1.25.3.1</a><span>&nbsp;[% c.l("is now released!") %]</span></div>
  </div>
  <div class="news-item"><a href="ann-1021004003.html">
      <picture>
        <source srcset="../images/logo.webp" type="image/webp"/><img class="news-img" src="../images/logo.png"/>
      </picture></a>
    <div class="news-description"><strong class="news-hint">[% c.l("New!") %]&nbsp;</strong><a href="ann-1021004003.html">OpenResty 1.21.4.3</a><span>&nbsp;[% c.l("is now released!") %]</span></div>
  </div>
  <div class="news-item"><a href="https://blog.openresty.com.cn/cn/rust-exception/?src=org_news" target="_blank"><img class="news-img" src="../images/header-images/cn-rust-exception.jpg" loading="lazy"/></a>
    <div class="news-description"><strong class="news-hint">[% c.l("New!") %]</strong><span>&nbsp;[% c.l("New blog post") %]&nbsp;</span><a href="https://blog.openresty.com.cn/cn/rust-exception/?src=org_news" target="_blank">线上监控 Rust 应用中的程序异常（使用 OpenResty XRay）</a><span>&nbsp;[% c.l("is published.") %]</span></div>
  </div>
  <div class="news-item"><a href="https://blog.openresty.com.cn/cn/prometheus-high-cpu/?src=org_news" target="_blank"><img class="news-img" src="../images/header-images/prometheus-high-cpu-cn.png" loading="lazy"/></a>
    <div class="news-description"><strong class="news-hint">[% c.l("New!") %]</strong><span>&nbsp;[% c.l("New blog post") %]&nbsp;</span><a href="https://blog.openresty.com.cn/cn/prometheus-high-cpu/?src=org_news" target="_blank">使用 OpenResty XRay 定位普罗米修斯应用内部 CPU 最热的 Go 代码路径</a><span>&nbsp;[% c.l("is published.") %]</span></div>
  </div>
  <div class="news-item"><a href="https://blog.openresty.com.cn/cn/edge-global-search/?src=org_news" target="_blank"><img class="news-img" src="../images/header-images/edge-global-search-cn.jpg" loading="lazy"/></a>
    <div class="news-description"><strong class="news-hint">[% c.l("New!") %]</strong><span>&nbsp;[% c.l("New blog post") %]&nbsp;</span><a href="https://blog.openresty.com.cn/cn/edge-global-search/?src=org_news" target="_blank">在 OpenResty Edge 的 Admin 控制台中如何使用全局搜索</a><span>&nbsp;[% c.l("is published.") %]</span></div>
  </div>
  <div class="news-item"><a href="https://blog.openresty.com.cn/cn/xray-or-http-504/?src=org_news" target="_blank"><img class="news-img" src="../images/header-images/xray-or-http-504-cn.jpg" loading="lazy"/></a>
    <div class="news-description"><strong class="news-hint">[% c.l("New!") %]</strong><span>&nbsp;[% c.l("New blog post") %]&nbsp;</span><a href="https://blog.openresty.com.cn/cn/xray-or-http-504/?src=org_news" target="_blank">如何使用 OpenResty XRay 排查 HTTP 504 超时错误</a><span>&nbsp;[% c.l("is published.") %]</span></div>
  </div>
  <div class="news-item"><a href="https://blog.openresty.com.cn/cn/cockroach-cpu-distr/?src=org_news" target="_blank"><img class="news-img" src="../images/header-images/cn-cockroach-cpu-distr.png" loading="lazy"/></a>
    <div class="news-description"><strong class="news-hint">[% c.l("New!") %]</strong><span>&nbsp;[% c.l("New blog post") %]&nbsp;</span><a href="https://blog.openresty.com.cn/cn/cockroach-cpu-distr/?src=org_news" target="_blank">CPU 时间是如何耗费在 Go 的 CockroachDB 中的（使用 OpenResty XRay）</a><span>&nbsp;[% c.l("is published.") %]</span></div>
  </div>
  <div class="news-item"><a href="https://blog.openresty.com.cn/cn/perl-xray-overhead/?src=org_news" target="_blank"><img class="news-img" src="../images/header-images/cn-perl-xray-overhead.png" loading="lazy"/></a>
    <div class="news-description"><strong class="news-hint">[% c.l("New!") %]</strong><span>&nbsp;[% c.l("New blog post") %]&nbsp;</span><a href="https://blog.openresty.com.cn/cn/perl-xray-overhead/?src=org_news" target="_blank">追踪 Perl 应用时 OpenResty XRay 对系统性能的影响</a><span>&nbsp;[% c.l("is published.") %]</span></div>
  </div>
</div>