
<div class="news">
  <div class="news-item"><a href="ann-1021004003.html">
      <picture>
        <source srcset="../images/logo.webp" type="image/webp"/><img class="news-img" src="../images/logo.png"/>
      </picture></a>
    <div class="news-description"><strong class="news-hint">[% c.l("New!") %]&nbsp;</strong><a href="ann-1021004003.html">OpenResty 1.21.4.3</a><span>&nbsp;[% c.l("is now released!") %]</span></div>
  </div>
  <div class="news-item"><a href="ann-test-nginx-030.html">
      <picture>
        <source srcset="../images/test.webp" type="image/webp"/><img class="news-img" src="../images/test.png"/>
      </picture></a>
    <div class="news-description"><strong class="news-hint">[% c.l("New!") %]&nbsp;</strong><a href="ann-test-nginx-030.html">Test::Nginx 0.30</a><span>&nbsp;[% c.l("is now released!") %]</span></div>
  </div>
  <div class="news-item"><a href="https://blog.openresty.com/en/python-xray-overhead/?src=org_news" target="_blank"><img class="news-img" src="../images/header-images/en-python-xray-overhead.png" loading="lazy"/></a>
    <div class="news-description"><strong class="news-hint">[% c.l("New!") %]</strong><span>&nbsp;[% c.l("New blog post") %]&nbsp;</span><a href="https://blog.openresty.com/en/python-xray-overhead/?src=org_news" target="_blank">Performance Impact of OpenResty XRay when Tracing Python Apps (using OpenResty XRay)</a><span>&nbsp;[% c.l("is published.") %]</span></div>
  </div>
  <div class="news-item"><a href="https://blog.openresty.com/en/rust-xray-overhead/?src=org_news" target="_blank"><img class="news-img" src="../images/header-images/en-rust-xray-overhead.png" loading="lazy"/></a>
    <div class="news-description"><strong class="news-hint">[% c.l("New!") %]</strong><span>&nbsp;[% c.l("New blog post") %]&nbsp;</span><a href="https://blog.openresty.com/en/rust-xray-overhead/?src=org_news" target="_blank">Performance Impact of OpenResty XRay when Tracing Rust Apps (using OpenResty XRay)</a><span>&nbsp;[% c.l("is published.") %]</span></div>
  </div>
  <div class="news-item"><a href="https://blog.openresty.com/en/ylang-dump-go-val/?src=org_news" target="_blank"><img class="news-img" src="../images/header-images/en-ylang-dump-go-val.png" loading="lazy"/></a>
    <div class="news-description"><strong class="news-hint">[% c.l("New!") %]</strong><span>&nbsp;[% c.l("New blog post") %]&nbsp;</span><a href="https://blog.openresty.com/en/ylang-dump-go-val/?src=org_news" target="_blank">Dynamic-Tracing Custom Go Programs with Custom Ylang (using OpenResty XRay)</a><span>&nbsp;[% c.l("is published.") %]</span></div>
  </div>
  <div class="news-item"><a href="https://blog.openresty.com/en/edge-dns/?src=org_news" target="_blank"><img class="news-img" src="../images/header-images/edge-dns-en.png" loading="lazy"/></a>
    <div class="news-description"><strong class="news-hint">[% c.l("New!") %]</strong><span>&nbsp;[% c.l("New blog post") %]&nbsp;</span><a href="https://blog.openresty.com/en/edge-dns/?src=org_news" target="_blank">Configure DNS Records in OpenResty Edge</a><span>&nbsp;[% c.l("is published.") %]</span></div>
  </div>
  <div class="news-item"><a href="https://blog.openresty.com/en/edge-resp-header/?src=org_news" target="_blank"><img class="news-img" src="../images/header-images/en-edge-resp-header.png" loading="lazy"/></a>
    <div class="news-description"><strong class="news-hint">[% c.l("New!") %]</strong><span>&nbsp;[% c.l("New blog post") %]&nbsp;</span><a href="https://blog.openresty.com/en/edge-resp-header/?src=org_news" target="_blank">Adding Custom Response Headers in OpenResty Edge</a><span>&nbsp;[% c.l("is published.") %]</span></div>
  </div>
  <div class="news-item"><a href="https://blog.openresty.com/en/edge-gslb/?src=org_news" target="_blank"><img class="news-img" src="../images/header-images/edge-gslb-en.png" loading="lazy"/></a>
    <div class="news-description"><strong class="news-hint">[% c.l("New!") %]</strong><span>&nbsp;[% c.l("New blog post") %]&nbsp;</span><a href="https://blog.openresty.com/en/edge-gslb/?src=org_news" target="_blank">How to Use OpenResty Edge's Global Server Load Balancing (GSLB) Feature</a><span>&nbsp;[% c.l("is published.") %]</span></div>
  </div>
</div>