
<div class="news">
  <div class="news-item"><a href="ann-1019009001.html">
      <picture>
        <source srcset="../images/logo.webp" type="image/webp"/><img class="news-img" src="../images/logo.png"/>
      </picture></a>
    <div class="news-description"><strong class="news-hint">[% c.l("New!") %]&nbsp;</strong><a href="ann-1019009001.html">OpenResty 1.19.9.1</a><span>&nbsp;[% c.l("is now released!") %]</span></div>
  </div>
  <div class="news-item"><a href="https://blog.openresty.com.cn/cn/openresty-pre-built-for-debian-11?src=org_news" target="_blank"><img class="news-img" src="../images/header-images/debian-11.png" loading="lazy"/></a>
    <div class="news-description"><strong class="news-hint">[% c.l("New!") %]</strong><span>&nbsp;[% c.l("New blog post") %]&nbsp;</span><a href="https://blog.openresty.com.cn/cn/openresty-pre-built-for-debian-11?src=org_news" target="_blank">新增针对 Debian 11 的 OpenResty 官方安装包仓库</a><span>&nbsp;[% c.l("is published.") %]</span></div>
  </div>
  <div class="news-item"><a href="https://blog.openresty.com.cn/cn/edge-lang-redirect?src=org_news" target="_blank"><img class="news-img" src="../images/header-images/lang-redirect.png" loading="lazy"/></a>
    <div class="news-description"><strong class="news-hint">[% c.l("New!") %]</strong><span>&nbsp;[% c.l("New blog post") %]&nbsp;</span><a href="https://blog.openresty.com.cn/cn/edge-lang-redirect?src=org_news" target="_blank">根据客户的语言设置重定向到不同的 URI (OpenResty Edge)</a><span>&nbsp;[% c.l("is published.") %]</span></div>
  </div>
  <div class="news-item"><a href="https://blog.openresty.com.cn/cn/showman-baidu?src=org_news" target="_blank"><img class="news-img" src="../images/header-images/Showman.jpg" loading="lazy"/></a>
    <div class="news-description"><strong class="news-hint">[% c.l("New!") %]</strong><span>&nbsp;[% c.l("New blog post") %]&nbsp;</span><a href="https://blog.openresty.com.cn/cn/showman-baidu?src=org_news" target="_blank">让机器从电影剧本自动生成百度搜索的演示视频</a><span>&nbsp;[% c.l("is published.") %]</span></div>
  </div>
</div>