.news
  .news-item
    a(href="ann-1025003001rc1.html")
      picture
        source(srcset="../images/logo.webp" type="image/webp")
        img.news-img(src="../images/logo.png")
    .news-description
      strong.news-hint [% c.l("New!") %]&nbsp;
      a(href="ann-1025003001rc1.html") OpenResty 1.25.3.rc1
      span &nbsp;[% c.l("is out!") %]
  .news-item
    a(href="ann-1021004003.html")
      picture
        source(srcset="../images/logo.webp" type="image/webp")
        img.news-img(src="../images/logo.png")
    .news-description
      strong.news-hint [% c.l("New!") %]&nbsp;
      a(href="ann-1021004003.html") OpenResty 1.21.4.3
      span &nbsp;[% c.l("is now released!") %]

  each val in news
    .news-item
      a(href=`${val.href}?src=org_news` target="_blank")
        img.news-img(src=`../images${val.pic}` loading="lazy")
      .news-description
        strong.news-hint [% c.l("New!") %]
        span &nbsp;[% c.l("New blog post") %]&nbsp;
        a(href=`${val.href}?src=org_news` target="_blank")= val.title
        span &nbsp;[% c.l("is published.") %]
